#set($title="系统管理")
<div class="breadcrumbs">
    <ul class="breadcrumb" id="breadcrumbs">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="${rc.contextPath}/main">首页</a>
        </li>
        <li>
				<a href="${rc.contextPath}/erpSystem/list">系统管理</a>
        </li>
    </ul>
</div>

<div class="page-content">
    
    
    <div class="dataTables_wrapper col-md-12">
    	 <div class="row form-group">
            <div class="col-sm-6">
                <a class="btn btn-success btn-sm" id="test"  href="${rc.contextPath}/erpSystem/add">
                    <i class="icon-edit  align-top bigger-125 icon-on-right"></i>
                    添加系统
                </a>
            </div>
        </div>        
       <table id="aptitude-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">编号</th>
                    <th class="center">系统名称</th>
                    <th class="center">系统图标</th>
                    <th class="center">系统域名</th>
                    <th class="center">负责人</th>
                    <th class="center">备注</th>
                    <th class="center">创建时间</th>
                    <th class="center">修改时间</th>
                    <th class="center">操作</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all" id="listall">
                #if(${page.result} && $page.result.size()>0)
                    #foreach($instance in $page.result)
                        <tr>
                            <td class="center">$!instance.id</td>
                            <td>$!instance.sysName</td>
                            <td>$!instance.icon</td>
                            <td>$!instance.sysDomain</td>
                            <td>$!instance.sysOwner</td>
                            <td>$!instance.remark</td>
                            <td>$!dateTool.format("yyyy-MM-dd HH:mm", $!instance.created)</td>
                            <td>$!dateTool.format("yyyy-MM-dd HH:mm", $!instance.modified)</td>
                            <td>
                                <div class="action-buttons">
                                    <a class="blue" href="${rc.contextPath}/erpSystem/edit/$!instance.id">
                                        <i class=" icon-cog bigger-130"></i>
										修改
                                    </a>
                                </div>
                            </td>
                        </tr>
                    #end
                #end
            </tbody>
        </table>
		#if(${page} && ${page.pageCount} > 0)
			#set($pageModule = $homeModule.getTarget("/erpSystem/list"))
			#showPage($pageModule $!{page})
		#end
    </div>
</div>
