<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-autowire="byName">
	<context:component-scan base-package="com.mv.controller" />
	<!-- fastjson start -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
					</list>
				</property>
				<property name="features">
					<list>
						<value>WriteMapNullValue</value>
						<value>QuoteFieldNames</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- fastjson end -->

	<!-- velocity start -->
	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/views" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="velocimacro.library">common/macro.vm</prop>
			</props>
		</property>
	</bean>

	<bean id="velocityViewResolver"
		class="com.mv.nb.common.CusVelocityLayoutViewResolver">
		<property name="layoutUrl" value="layout/default.vm" />
		<property name="cache" value="false" />
		<property name="suffix" value=".vm" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="dateToolAttribute" value="dateTool" />
		<property name="numberToolAttribute" value="numberTool" />
		<!-- Merge urlBuilderMap to view context for convenience. You can put your 
			tools which must be thread safe. -->
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="requestContextAttribute" value="rc" />
	</bean>
	<!-- velocity end -->

	<!-- static resources start -->
	<mvc:resources location="/assets/" mapping="/assets/**"
		cache-period="864000" /><!-- 24 * 3600 * 10 -->
	<mvc:resources location="/download/" mapping="/download/**"
		cache-period="864000" /><!-- 24 * 3600 * 10 -->
	<mvc:default-servlet-handler />
	<!-- static resources end -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>

	<!--VelocityLayoutViewResolver 页面公共url -->
	<bean id="velocityUrl" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!--本系统自己地址 -->
				<entry key="homeModule">
					<bean class="com.mv.nb.common.UrlUtil">
						<property name="url" value="${home.addr}/" />
						<property name="charsetName" value="UTF-8"></property>
					</bean>
				</entry>
				<!--erp系统地址 -->
				<entry key="erpModule">
					<bean class="com.mv.nb.common.UrlUtil">
						<property name="url" value="${erp.addr}/" />
						<property name="charsetName" value="UTF-8"></property>
					</bean>
				</entry>
			</map>
		</constructor-arg>
	</bean>
	
	<!-- 登录拦截 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/**.html" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/doLogin" />
			<bean class="com.mv.interceptor.LoginInterceptor">
				<property name="token" value="${man.token.public}" />
				<property name="erpLoginUrl" value="${erp.addr}/login.html" />
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
           <mvc:exclude-mapping path="/**.html"/>
           <mvc:exclude-mapping path="/assets/**"/>
           <mvc:exclude-mapping path="/"/>
           <mvc:exclude-mapping path="/main"/>
           <mvc:exclude-mapping path="/login"/>
           <mvc:exclude-mapping path="/doLogin"/>
           <mvc:exclude-mapping path="/logout"/>
           <mvc:exclude-mapping path="/editPWD"/>
           <mvc:exclude-mapping path="/updatePWD"/>
           <mvc:exclude-mapping path="/menu/**"/>
           <mvc:exclude-mapping path="/error/**"/>
			<bean class="com.mv.interceptor.AuthInterceptor" >
           		<property name="devMode" value="${devMode}" />
				<property name="erpAccessDeniedUrl" value="${erp.addr}/error/accessDenied"/>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
