#set($title="新增角色")
<div class="page-content col-sm-12 tabbable">
    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
        <li class="active">
                <a href="javascript:void(0);">
                    <i class="success icon-edit bigger-110"></i>
                    新增角色
                </a>
        </li>
        <div class="pull-right">
            <a href="${rc.contextPath}/erpRole" class="btn-success btn btn-xs">
                返回列表页
                <i class="icon-undo  align-top bigger-125 icon-on-right"></i>
            </a>
        </div>
    </ul>

	<div class="tab-content">
	    <div id="tab1" class="tab-pane active">
	    	<form class="form-horizontal" method="post" action="${rc.contextPath}/erpRole/save" id="member-submit-form">
				<div class="form-group" id="doc-charge-div"  >
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1">角色名称</label>
					<div class="col-sm-9">
						<input type="text" id="roleName" name="roleName"  class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="form-group" id="doc-charge-div"  >
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1">备注</label>
					<div class="col-sm-9">
						<input type="text" id="remark" name="remark"   class="col-xs-10 col-sm-5" />
					</div>
				</div>
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-10">
						<button class="btn btn-info" type="button" id='member-submit-btn'>
							<i class="icon-ok bigger-110"></i>
							提交
						</button>
						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</form>	
	    </div>
	</div>
</div>
<script src="${rc.contextPath}/assets/tp/js/erp/erpRole_add.js"></script>